{% extends "store/account_base.html" %}
{% block account_content %}

<h2>📝 Personalizacja</h2>

{% if customizations %}
  {% for entry in customizations %}
    <div class="customization-block">
      <h3>{{ entry.product.title }}</h3>

      {% if entry.sent %}
        <p>✅ Dane do personalizacji zostały już wysłane.</p>

        <!-- Wyświetl zapisane dane (po wysłaniu) -->
        {% if entry.entry_instance.data %}
          <ul>
            {% for key, value in entry.entry_instance.data.items %}
              <li><strong>{{ key }}:</strong> {{ value }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if entry.entry_instance.file_1 %}
          <p><strong>Załączony plik:</strong>
            <a href="{{ entry.entry_instance.file_1.url }}" target="_blank">📎 Zobacz</a>
          </p>
        {% endif %}

      {% else %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ entry.form.as_p }}
          <input type="hidden" name="form_id" value="{{ entry.id }}">
          <button type="submit" name="save-{{ entry.id }}" class="mini-btn">💾 Zapisz</button>
          <button type="submit" name="send-{{ entry.id }}" class="mini-btn yellow">📤 Wyślij do realizacji</button>
        </form>


      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>Brak formularzy do wypełnienia.</p>
{% endif %}

{% endblock %}
