<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}MyCustoGame{% endblock %}</title>

    <!-- Ładowanie pliku CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">

</head>
<body>
  <div class="page-container">


    <header class = "main-header">
        <div class="logo">
            <a href="/"><img src="{% static 'img/my_custo_gift_logo.png' %}" alt="Logo MyCustoGift" /></a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/sklep/">Nasze Gry</a></li>
                <li><a href="/personalizuj-gre/">Personalizuj Grę</a></li>
                <li><a href="/sklep/konto/zamowienia/">Moje Konto</a></li>
                <li><a href="{% url 'blog_list' %}">Blog</a></li>
                <li><a href="/dla-firm/">Dla Firm</a></li>
                <li><a href="/kontakt/">Kontakt</a></li>
                <li><a href="/sklep/zagraj/" class="cta-button">ZAGRAJ W NASZĄ GRĘ</a></li>

            </ul>
        </nav>
        <!-- Hamburger menu -->
<div class="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
</div>

    </header>
  <main>

        {% block content %}
        {% endblock %}
    </main>
  </div>
<footer>

     <div class="footer-inner">
    <div class="footer-columns">
        <div class="footer-col">
            <h4>MyCustoGift </h4>


 <p>Tworzymy wyjątkowe, personalizowane prezenty: gry, quizy, bajki, nagrania i opowieści.</p>
 <p>Każdy z nich powstaje na zamówienie – z myślą o konkretnej osobie i emocjach, które chcesz jej podarować.</p>
            <img src="{% static 'img/my_custo_gift_logo_footer.png' %}" alt="Logo MyCustoGame Footer" class="footer-logo">



        </div>

        <div class="footer-col">
            <h4>KONTAKT</h4>
    <p><i class="fas fa-phone-alt"></i> Telefon:<br> +48 792 625 185 <br>+48 530 136 145</p>
    <p><i class="fas fa-envelope"></i> Email:<br> info@mycustogift.com </p>




          <div class="social-icons circle-icons">


    <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://youtube.com" target="_blank" aria-label="YouTube">
        <i class="fab fa-youtube"></i>
    </a>
    <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
        <i class="fab fa-tiktok"></i>
    </a>
</div>

        </div>

        <div class="footer-col">
            <h4>DANE FIRMY</h4>
         <p>Nazwa: <br>ZACNI Magdalena Kwiatkowska</p>
         <p>NIP: 8883030362</p>
         <p>REGON: 528028930</p>
        <p>Nr konta:<br> 46105014611000009083479320</p>
        </div>

        <div class="footer-col">
            <h4>MENU</h4>
            <ul>

                <li><a href="/nasze-gry/">Nasze Gry</a></li>
                <li><a href="/personalizuj-gre/">Personalizuj Grę</a></li>
                <li><a href="/sklep/konto/zamowienia/">Moje Konto</a></li>
                <li><a href="{% url 'blog_list' %}">Blog</a></li>
                <li><a href="/dla-firm/">Dla Firm</a></li>
                <li><a href="/sklep/zagraj/"><u>ZAGRAJ W NASZĄ GRĘ</u></a></li>

            </ul>
        </div>

    </div>
     </div>

   <div class="footer-bottom">
    <div class="footer-bottom-links">
        <a href="/polityka-prywatnosci/">Polityka Prywatności</a> |
        <a href="/regulamin/">Regulamin</a>
    </div>
    <p>© 2025 MyCustoGift. Wszystkie prawa zastrzeżone.</p>
</div>
    </footer>

    <!-- Ładowanie pliku JS -->
  {% load static %}

    <script src="{% static 'js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

</body>
</html>
