{% extends "base.html" %}
{% load static %}

{% block title %}
Kontakt
{% endblock %}

{% block content %}
<section class="contact-wrapper">
    <div class="contact-info">
        <div class="contact-box">
            <h2>Dane kontaktowe</h2>
            <p><i class="fas fa-clock"></i> 9:00 - 17:00<br>pn - pt</p>
            <p><i class="fas fa-phone"></i> +48 792 625 185</p>
            <p><i class="fas fa-phone"></i> +48 530 136 145</p>
            <p><i class="fas fa-envelope"></i> info@mycustogift.com</p>
        </div>

        <div class="company-box">
            <h2>Informacje o firmie</h2>
            <p><i class="fas fa-location-dot"></i> ZacniDev Magdalena Kwiatkowska<br>Kudrowice 39LA,<br>95-200 Kudrowice</p>
            <p><i class="fas fa-circle-info"></i> NIP: 8883030362<br>REGON: 528028930</p>
            <p><i class="fas fa-money-bill"></i> Nr konta: 46105014611000009083479320</p>
        </div>
    </div>

</section>
    <h2>Wyślij zapytanie</h2>

<section class="form-section">
  <form>
    <label for="name">Imię i nazwisko / Nazwa firmy *</label>
    <input type="text" id="name" required>

    <label for="email">Email *</label>
    <input type="email" id="email" required>

    <label for="message">Wiadomość *</label>
    <textarea id="message" required></textarea>

    <button type="submit">Wyślij</button>
  </form>
</section>

<section class="carousel-section">
  <h2>Nasze biuro</h2>
    <div class="carousel-text-wrapper">
  <p>To tutaj mieści się nasze biuro – miejsce, gdzie planujemy, współpracujemy i realizujemy nasze projekty. Każdy z nas pracuje częściowo zdalnie, dlatego na co dzień biuro nie jest otwarte dla klientów.</p>
  <p>Rozumiemy jednak, że niektóre projekty wymagają dokładnego omówienia – dlatego oferujemy krótkie spotkania online (15–30 minut), podczas których możesz przedstawić swój pomysł lub zadać pytania.</p>
  <p><strong>A jeśli wolisz spotkanie twarzą w twarz, skontaktuj się z nami – umówimy dogodny termin i zaprosimy Cię do biura.</strong></p>
    </div>
    <a href="/umow-spotkanie" class="cta-button">Umów spotkanie online</a>

<section class="map-section">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d748388.1988732693!2d18.935422115851328!3d51.96551410061427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471a4997ca992f11%3A0x3c8f4ff7c8e97f76!2s95-200%20Kudrowice!5e0!3m2!1spl!2spl!4v1746886020479!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>

{% endblock %}
